.hero-container {
    height: 85vh;
    padding-left: 7rem;
    display: flex;
    align-items:center;
    justify-content: center;
 
}
.hero-content .fullname{
    padding-bottom: .35rem;
}

.hero-content .position{
    padding-bottom: 1.2rem;
    color: gray;
}
.hero-content .desc{
    width: 40%;
    padding-bottom: 3rem;
}
.btn-primary, .btn-secondary{
    margin-right: 15px; 
    background:#89CFF0; 
    padding: .5rem 2rem;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
}

 .btn-secondary{
    background: #FF0000;
}