.hero-container {
    padding: 0;
    margin: 0;
    height: 85vh;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-content .fullname {
    padding-bottom: .35rem;
}

.hero-content .position {
    padding-bottom: 1.2rem;
    color: gray;
}

.hero-content .desc {
    width: 40%;
    padding-bottom: 3rem;
}

.btn {
    padding: .5rem 2rem;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
}

.btn-primary {
    margin-right: 20px;
    background: #89CFF0;
}

.btn-secondary {
    background: #FF0000;
    
}
.hero_image_section{
    height: 72vh;
    width: 8rem;
}